$screen-width-mobile: 375px;
$screen-width-desktop: 1440px;
$color-violet: hsl(257, 40%, 49%);
$color-magenta: hsl(300, 69%, 71%);
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-family-heading: 'Poppins' sans-serif;
$font-family-body: 'Open Sans', sans-serif;

.container {
  display: grid;
  grid-auto-flow: rows;
  grid-auto-columns: 750px;
  align-items: center;
  justify-items: center;

  img {
    width: 100%;
  }

  svg {
    // width:100%;
    background-color: red;
    width: 100%;
  }
}