$screen-width-mobile: 375px;
$screen-width-desktop: 1440px;
$color-violet: hsl(257, 40%, 49%);
$color-magenta: hsl(300, 69%, 71%);
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-family-heading: 'Poppins' sans-serif;
$font-family-body: 'Open Sans', sans-serif;